{% extends "AppInfoPage.html" %}

{% block title %}BitLynx Notifications{% endblock %}

{% set active_page = "notifications" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block info %}
    {{ super() }}

    <div id="notifications">
        <h2>Notifications</h2>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td><b>Notification Message</b></td>
                </tr>
            </thead>
            {% for n in notifications %}
            <tr>
               <td>{{n}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}